@font-face {
    font-family: 'Rose';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_09@1.0/Rose.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'Rose';
}
    body{
        background-color: #000;
        }
    a { text-decoration: none; color: rgb(254, 254, 254); }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:focus { text-decoration: none; }
    a:hover, a:active { text-decoration: none; }
    header{
        margin-top: 30px;
        margin-left: 65px;
        font-size: 65px;
        color: #ffffff;
    }
    .main {
        background-color: #FFFFFF;
        width: 400px;
        height: 370px;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }

    .sign {
        padding-top: 17px;
        color: #5172ff;
        font-weight: bold;
        font-size: 23px;
    }

    .un {
        width: 76%;
        color: #5172ff;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        background: rgba(136, 126, 126, 0.04);
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        outline: none;
        box-sizing: border-box;
        border: 2px solid rgba(0, 0, 0, 0.02);
        margin-bottom: 50px;
        text-align: center;
        margin-bottom: 27px;
    }

    form.form1 {
        padding-top: 10px;
        text-align: center;
    }

    .pass {
        width: 76%;
        color: #5172ff;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        background: rgba(136, 126, 126, 0.04);
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        outline: none;
        box-sizing: border-box;
        border: 2px solid rgba(0, 0, 0, 0.02);
        margin-bottom: 50px;
        text-align: center;
        margin-bottom: 27px;
    }


    .un:focus, .pass:focus {
        border: 2px solid #5172ff !important;

    }

    .submit {
        cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background-color: #5172ff;
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-left: 35%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }
    .fg{
        color: #5172ff;
    }
    .rg{
        color: #5172ff;
    }
    .forgot {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #5172ff;
        padding-top: 15px;
    }

    .btn {
    width: 310px;
    height: 40px;
    font-size: 15px;
    background-color: #5172ff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: 5px;
    }
